* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    min-height: 80%;
    min-width: 80%;
    background-color:#000000;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}