* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body{
    background-color:#0D1117;
    height: 100%;
    min-height: 80%;
    min-width: 80%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.resolutions{
    border-collapse: separate;
    background: #ffffff;
    border-radius: 5px;
    margin: 50px auto;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    width: 70%;
}

.resolutions thead {
    border-radius: 5px;
}

.resolutions thead th{
    font-family: 'Patua One', cursive;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    text-align: left;
    padding: 20px;
    background-color: #646f7f;
    border-top: 1px solid #858d99;
}

.resolutions thead th:first-child {
border-top-left-radius(5px);
}

.resolutions thead th:last-child {
border-top-right-radius(5px);
}

.resolutions tbody tr td{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f6062;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.resolutions tbody tr:nth-child(2n){
    background:#f0f3f5;
}

.resolutions tr:last-child td {
    border-bottom:none;
}

.resolutions tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.resolutions tr:last-child td:last-child {
    border-top-right-radius: 5px;
}

.resolutions tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.resolutions tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #ffffff;
}

#welcome {
    text-align: center;
}

h2{
    text-align: center;
}

nav {
    background: #161B22;
    font-width: 600;
}