<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <nav th:replace="fragments/nav :: nav"></nav>

    <h2>Liste de toutes les résolutions de la plateforme :</h2>

    <table class="resolutions">
        <thead>
            <tr>
                <th>Action</th>
                <th>Nombre d'inscrit</th>
                <th>Pourcentage de réussite sur la dernière période</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="resolution : ${resolutions}">
                <td th:text="${resolution.action}">Action</td>
                <td th:text="${effectif.get(resolution.idResolution)}">NbInscrits</td>
                <td th:text="${pourcentage.get(resolution.idResolution)}">Pourcentage</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>