<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <div class="logIn">
        <h2>NewYearResolution</h2>
        <form method="post" th:action="@{/tryLogin}" th:objet="${loginForm}">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="userName" id="userName" placeholder="User name" value="Gallet">
            </div>
            <div class="input-group input-group-lg">
                <input type="password" class="form-control" name="password" id="password" placeholder="Your Password" value="123456789">
            </div>

            <input type="submit" class="float" value="Se connecter">

            <input type="checkbox" name="rememberMe" id="rememberMe">
            <label for="rememberMe">Remember me</label>
        </form>
        <form action="/signin/facebook" method="POST">
            <input type="hidden" name="scope" value="public_profile" />
            <input type="submit" value="Login using Facebook" />
        </form>
    </div>

    <a th:href="@{/createAccount}">Créer un compte</a>
</body>
</html>