<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mes Résolutions</title>
</head>
<body>
    <header>
        <h1>NewYearResolution</h1>

        <a th:if="${session.user}!=null" th:href="@{/logout}">Sign out</a>
        <a th:if="${session.user}!=null" th:href="@{/index}">Accueil</a>
        <a th:if="${session.user}!=null" th:href="@{/addResolution}">Prendre de nouvelles Résolutions</a>
    </header>
    <div>
        <h1>Mes informations :</h1>
        <p th:text="${session.user.getName()}"></p>
        <p th:text="${session.user.getSurname()}"></p>
        <p th:text="${session.user.getMail()}"></p>
    </div>
    <h1>Mes résolutions : </h1>
    <div th:if="${resolutions.size()}==0 ">
        <h1>Vous n'avez pas encore pris de résolution<br><a th:if="${session.user}!=null" th:href="@{/addResolution}">Prendre une résolution</a></h1>
    </div>

    <div th:if="${resolutions.size()}>0 ">

        <table>
            <tr>
                <th>Id</th>
                <th>Action</th>
                <th>Fréquence</th>
                <th>Voir</th>
            </tr>

            <tr th:each="resolution : ${resolutions}">
                <td th:text="${resolution.idResolution}">IdResolution</td>
                <td th:text="${resolution.action}">Action</td>
                <td th:text="${frequence.get(resolution.idResolution)}">Freq</td>
                <td><form action="#" th:action="@{/selectUserResolution}" th:object="${userResolutionForm}" method="post">
                    <input type="hidden" th:value="${resolution.idResolution}" name="idResolution">
                    <input type="hidden" th:value="${session.user.getIdUser()}" name="idUser">
                    <input type="submit" value="Voir">
                </form></td>
            </tr>
        </table>
    </div>

</body>
</html>