<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resolution</title>
    <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="css/graph.css">
</head>
<body>
    <header>
        <h1>NewYearResolution</h1>

        <a th:if="${session.user}!=null" th:href="@{/logout}">Sign out</a>
        <a th:if="${session.user}!=null" th:href="@{/index}">Accueil</a>
        <a th:if="${session.user}!=null" th:href="@{/myResolutions}">Mes Résolutions</a>
        <a th:if="${session.user}!=null" th:href="@{/addResolution}">Prendre de nouvelles Résolutions</a>
    </header>

    <h1>Détail d'une résolution d'un user</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Action</th>
            <th>Frequence</th>
            <th>NombreOcc</th>
        </tr>
        <tr>
            <td th:text="${user_resolution.resolution.idResolution}"></td>
            <td th:text="${user_resolution.resolution.action}"></td>
            <td th:text="${user_resolution.frequence}"></td>
            <td th:text="${user_resolution.nbOccurence}"></td>
        </tr>
    </table>

    <h1>Time line</h1>
    <div class="graph">
        <ul class="months">
            <li>Jan</li>
            <li>Feb</li>
            <li>Mar</li>
            <li>Apr</li>
            <li>May</li>
            <li>Jun</li>
            <li>Jul</li>
            <li>Aug</li>
            <li>Sep</li>
            <li>Oct</li>
            <li>Nov</li>
            <li>Dec</li>
        </ul>
        <ul class="days">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>
        <ul class="squares" >
            <li th:each="timeLine : ${timeLines}"  data-toggle="tooltip" data-placement="bottom" data-animation="false" delay="0" th:title="${timeLine.getDate()}" th:attr="data-level=${timeLine.level}"> </li>
        </ul>
    </div>

    <h1>Modification sur une semaine</h1>
    <table>
        <tr>Id</tr>
        <tr>Jour</tr>
        <tr>Etat</tr>
        <tr>Bouton</tr>

        <tr th:each="hist : ${histLastSemaine}">
            <td th:text="${hist.idHistorique}"></td>
            <td th:text="${hist.getDate()}"></td>
            <td th:text="${hist.isDone()}"></td>
            <td>
                <form action="#" th:action="@{/updateValidation}" th:object="${resolutionValidationForm}" method="post">
                    <input type="hidden" th:value="${user.idUser}" name="idUser">
                    <input type="hidden" th:value="${hist.getIdHistorique()}" name="idHistorique">
                    <div th:if="${hist.isDone()}">
                        <input th:type="submit" value="invalider">
                    </div>
                    <div th:unless="${hist.isDone()}">
                        <input th:type="submit" value="valider">
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <script src = "https://code.jquery.com/jquery-3.4.1.min.js"> </script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"> </script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"> </script>
</body>
</html>