<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <nav th:replace="fragments/nav :: nav"></nav>
    <div id="welcome">
        <h1 th:text="'Bienvenue ' + ${session.user.getName()} + ' ' + ${session.user.getSurname()}">Bienvenue</h1>
    </div>

    <div>
        <h2>Voici vos résolutions</h2>
        <table class="resolutions">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Frequence</th>
                    <th>Occurences</th>
                    <th>Pourcentage de réussite sur la dernière période</th>
                    <th>Voir</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user_resolution : ${user_resolutions}">
                    <td th:text="${user_resolution.resolution.action}" :>Action</td>
                    <td th:text="${user_resolution.frequence}">Frequence</td>
                    <td th:text="${user_resolution.nbOccurence}">Nb_occurences</td>
                    <td th:text="${pourcentage.get(user_resolution.resolution.idResolution)}">pourcentage</td>
                    <td>
                        <form action="#" th:action="@{/selectUserResolution}" th:object="${userResolutionForm}" method="post">
                            <input type="hidden" th:value="${session.user.idUser}" name="idUser"/>
                            <input type="hidden" th:value="${user_resolution.resolution.idResolution}" name="idResolution"/>
                            <input th:type="submit" value="Voir">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Ajouter une résolution</h1>
        <a th:if="${session.user}!=null" th:href="@{/addResolution}">Prendre de nouvelles Résolutions</a>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
